.button-default {
  background-color: #d3eaf9;
  border: 1px solid;
  border-color: #000000;
  border-radius: 60px;
  height: 40px;
  width: 158px;
}

.button-default .overlap-group-5 {
  height: 40px;
  position: relative;
  width: 165px;
}

.button-default .rectangle-2 {
  background-color: #01548c;
  border-radius: 60px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 86px;
}

.button-default .frame-2 {
  align-items: center;
  display: flex;
  gap: 35px;
  height: 27px;
  justify-content: center;
  left: 7px;
  padding: 5px;
  position: absolute;
  top: 7px;
  width: 158px;
}

.button-default .element-2 {
  color: #ffffff;
  font-family: "Inika", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -1px;
  margin-top: -3px;
  position: relative;
  width: fit-content;
}

.button-default .english-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -0.5px;
  margin-top: -2.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
