.severity {
  height: 40px;
  width: 76px;
}

.severity .element-wrapper {
  background-color: #ff7b6f;
  border: 1px solid;
  border-color: #631c15;
  border-radius: 8px;
  height: 40px;
  left: 18px;
  position: relative;
  width: 40px;
}

.severity .element-3 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
}
