.group-wrapper {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #000000;
  height: 77px;
  width: 152px;
}

.group-wrapper .overlap-group-2 {
  background-color: #ece1a7;
  height: 75px;
  width: 150px;
}

.group-wrapper .group-2 {
  height: 29px;
  left: 20px;
  position: relative;
  top: 23px;
  width: 112px;
}

.group-wrapper .text-wrapper {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.group-wrapper .img {
  height: 13px;
  left: 94px;
  position: absolute;
  top: 10px;
  width: 15px;
}
