.group-wrapper {
  border-radius: 10px;
  height: 50px;
  left: 4296px;
  position: relative;
  top: -3016px;
  width: 498px;
}

.group-wrapper .overlap {
  height: 50px;
  position: relative;
}

.group-wrapper .overlap-group-wrapper {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 114px;
}

.group-wrapper .c-wrapper {
  background-color: #c0d6ed;
  height: 50px;
  position: relative;
  width: 112px;
}

.group-wrapper .c {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 500;
  height: 29px;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
}

.group-wrapper .rectangle-2 {
  background-color: #2a64ac;
  border-radius: 7px;
  height: 50px;
  left: 112px;
  position: absolute;
  top: 0;
  width: 386px;
}
