.design {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.design .div-6 {
  background-color: #ffffff;
  border: 1px none;
  height: 6068px;
  position: relative;
  width: 1280px;
}

.design .lab {
  height: 290px;
  left: 62px;
  position: absolute;
  top: 5692px;
  width: 1159px;
}

.design .line {
  height: 1px;
  left: 86px;
  position: absolute;
  top: 5472px;
  width: 1112px;
}

.design .group-22 {
  height: 656px;
  left: 74px;
  position: absolute;
  top: 4761px;
  width: 1133px;
}

.design .page {
  height: 633px;
  left: 605px;
  position: absolute;
  top: 23px;
  width: 528px;
}

.design .screen-shot-3 {
  height: 274px;
  left: 50px;
  object-fit: cover;
  position: absolute;
  top: 340px;
  width: 497px;
}

.design .line-2 {
  height: 1px;
  left: 84px;
  position: absolute;
  top: 4731px;
  width: 1112px;
}

.design .overlap-8 {
  height: 1032px;
  left: 78px;
  position: absolute;
  top: 3645px;
  width: 1124px;
}

.design .overlap-9 {
  height: 1032px;
  left: 78px;
  position: absolute;
  top: 3645px;
  width: 1124px;
}

.design .link-to-view-entire {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 77px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 974px;
  width: 971px;
}

.design .text-wrapper-74 {
  font-weight: 700;
}

.design .text-wrapper-75 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.design .text-wrapper-76 {
  text-decoration: underline;
}

.design .image-5 {
  height: 747px;
  left: 0;
  position: absolute;
  top: 228px;
  width: 1124px;
}

.design .line-3 {
  height: 1px;
  left: 87px;
  position: absolute;
  top: 3609px;
  width: 1112px;
}

.design .screen-shot-4 {
  height: 512px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 3000px;
  width: 1094px;
}

.design .line-4 {
  height: 1px;
  left: 84px;
  position: absolute;
  top: 2720px;
  width: 1112px;
}

.design .group-23 {
  height: 737px;
  left: 147px;
  position: absolute;
  top: 1900px;
  width: 974px;
}

.design .click-to-view-the-wrapper {
  background-color: #403f3f;
  border-radius: 60px;
  height: 45px;
  left: 12px;
  position: absolute;
  top: 692px;
  width: 293px;
}

.design .click-to-view-the {
  color: #ffffff;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 10px;
  white-space: nowrap;
}

.design .screen-shot-5 {
  height: 648px;
  left: 0;
  position: absolute;
  top: 0;
  width: 317px;
}

.design .group-24 {
  height: 735px;
  left: 141px;
  position: absolute;
  top: 1076px;
  width: 1003px;
}

.design .screen-shot-6 {
  height: 648px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 329px;
}

.design .button-2 {
  background-color: #403f3f;
  border-radius: 60px;
  height: 45px;
  left: 18px;
  position: absolute;
  top: 690px;
  width: 293px;
}

.design .click-to-view-the-2 {
  color: #ffffff;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 9px;
  white-space: nowrap;
}

.design .screen-shot-7 {
  height: 481px;
  left: 76px;
  object-fit: cover;
  position: absolute;
  top: 480px;
  width: 563px;
}

.design .screen-shot-8 {
  height: 481px;
  left: 640px;
  object-fit: cover;
  position: absolute;
  top: 480px;
  width: 562px;
}

.design .frame-9 {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  left: 380px;
  position: absolute;
  top: 106px;
  width: fit-content;
}

.design .group-25 {
  height: 40px;
  min-width: 202px;
  position: relative;
}

.design .UX-design-wrapper {
  background-color: #f0d6ac99;
  border-radius: 2px;
  height: 40px;
  position: relative;
  width: 200px;
}

.design .UX-design {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}

.design .group-26 {
  height: 40px;
  min-width: 202px;
  position: relative;
}

.design .overlap-10 {
  background-color: #f0d6ac99;
  border-radius: 2px;
  height: 40px;
  position: relative;
  width: 200px;
}

.design .text-wrapper-77 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}

.design .group-27 {
  height: 40px;
  margin-right: -2px;
  min-width: 202px;
  position: relative;
}

.design .overlap-11 {
  background-color: #f0d6ac99;
  border-radius: 2px;
  height: 40px;
  position: relative;
  width: 200px;
}

.design .text-wrapper-78 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}

.design .group-28 {
  height: 69px;
  left: 58px;
  position: absolute;
  top: 91px;
  width: 120px;
}

.design .overlap-12 {
  height: 69px;
  position: relative;
  width: 118px;
}

.design .table-of-contents-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 100px;
}

.design .contents-2 {
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
}
