.design {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.design .div-3 {
  background-color: #ffffff;
  border: 1px none;
  height: 7183px;
  position: relative;
  width: 1400px;
}

.design .frame-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 250px;
  left: 123px;
  position: absolute;
  top: 152px;
  width: fit-content;
}

.design .group-5 {
  height: 871px;
  min-width: 1126px;
  position: relative;
}

.design .group-6 {
  height: 481px;
  left: 0;
  position: absolute;
  top: 390px;
  width: 1126px;
}

.design .screen-shot {
  height: 481px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 563px;
}

.design .screen-shot-2 {
  height: 481px;
  left: 564px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 562px;
}

.design .frame-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  left: 240px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.design .courses-poster-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.design .tools-adobe-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 453px;
}

.design .flex-container-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 213px;
  width: 501px;
}

.design .text-9 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 501px;
}

.design .text-wrapper-12 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.design .group-7 {
  height: 1473px;
  min-width: 955.06px;
  position: relative;
}

.design .group-8 {
  height: 648px;
  left: 6px;
  position: absolute;
  top: 825px;
  width: 949px;
}

.design .frame-13 {
  left: 448px !important;
  position: absolute !important;
  top: 164px !important;
}

.design .screen-shot-3 {
  height: 648px;
  left: 0;
  position: absolute;
  top: 0;
  width: 317px;
}

.design .button-instance {
  left: 603px !important;
  position: absolute !important;
  top: 476px !important;
  width: 192px !important;
}

.design .design-component-instance-node {
  margin-left: unset !important;
  margin-right: unset !important;
}

.design .group-9 {
  height: 648px;
  left: 0;
  position: absolute;
  top: 0;
  width: 953px;
}

.design .frame-13-instance {
  left: 452px !important;
  position: absolute !important;
  top: 173px !important;
}

.design .screen-shot-4 {
  height: 648px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 329px;
}

.design .button-2 {
  left: 607px !important;
  position: absolute !important;
  top: 456px !important;
  width: 192px !important;
}

.design .group-10 {
  height: 796px;
  min-width: 1094px;
  position: relative;
}

.design .screen-shot-5 {
  height: 512px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 284px;
  width: 1094px;
}

.design .frame-7 {
  left: 296px !important;
  position: absolute !important;
  top: 0 !important;
}

.design .group-11 {
  height: 1077px;
  min-width: 1124px;
  position: relative;
}

.design .frame-8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: fit-content;
}

.design .frame-9 {
  top: unset !important;
}

.design .image {
  height: 747px;
  min-width: 1124px;
  position: relative;
}

.design .link-to-view-entire {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 971px;
}

.design .text-wrapper-13 {
  font-weight: 700;
}

.design .text-wrapper-14 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.design .text-wrapper-15 {
  text-decoration: underline;
}

.design .group-12 {
  height: 656px;
  min-width: 1110px;
  position: relative;
}

.design .page {
  height: 633px;
  left: 582px;
  position: absolute;
  top: 23px;
  width: 528px;
}

.design .frame-10 {
  width: fit-content !important;
}

.design .frame-11 {
  line-height: 30px !important;
}

.design .design-component-instance-node-2 {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.design .screen-shot-6 {
  height: 274px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 340px;
  width: 497px;
}

.design .group-13 {
  height: 515px;
  min-width: 1159px;
  position: relative;
}

.design .lab {
  height: 290px;
  left: 0;
  position: absolute;
  top: 225px;
  width: 1159px;
}

.design .frame-12 {
  left: 330px !important;
  position: absolute !important;
  top: 0 !important;
}

.design .component-2 {
  height: 54px;
  min-width: 1185px;
  position: relative;
}

.design .frame-258-instance {
  align-items: center !important;
  left: 0 !important;
  position: absolute !important;
  top: 13px !important;
}

.design .frame-14 {
  height: 28px !important;
  min-width: 24px !important;
}

.design .frame-15 {
  text-align: unset !important;
}

.design .frame-16 {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  left: 1043px;
  position: absolute;
  top: 13px;
  width: fit-content;
}

.design .next-project-UX-2 {
  color: #000000;
  font-family: "Lemon", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.design .polygon-2 {
  height: 28px;
  min-width: 24px;
  position: relative;
}

.design .group-instance {
  position: fixed !important;
}
