.info {
  border: 0.5px solid;
  border-color: #bdbdbd;
  height: 53px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 602px;
}

.info .auto {
  align-items: center;
  display: flex;
  gap: 16px;
  left: 24px;
  position: relative;
  top: 16px;
  width: fit-content;
}

.info .evaluator-name {
  color: #666666;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.info .evaluator-name-2 {
  color: #343333;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}
