.freeze {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.freeze .div-4 {
  background-color: #ffffff;
  border: 1px none;
  height: 2393px;
  overflow: hidden;
  position: relative;
  width: 1280px;
}

.freeze .flex-container-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 532px;
  left: 99px;
  position: absolute;
  top: 925px;
  width: 1082px;
}

.freeze .text-36 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 1082px;
}

.freeze .text-wrapper-56 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
}

.freeze .text-37 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1082px;
}

.freeze .text-wrapper-57 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
}

.freeze .more-rationale-i {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 103px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1573px;
  width: 1072px;
}

.freeze .user-feedback-the {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 78px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2150px;
  width: 1124px;
}

.freeze .next-step-based-on {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 84px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2434px;
  width: 1113px;
}

.freeze .persona-the-primary {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 106px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 643px;
  width: 902px;
}

.freeze .text-wrapper-58 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 118px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 388px;
  width: 902px;
}

.freeze .scenarios-use-cases {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 119px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2024px;
  white-space: nowrap;
}

.freeze .still-working-on {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 36px;
  font-weight: 600;
  left: 47px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 222px;
  white-space: nowrap;
}
