.freeze {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.freeze .div-4 {
  background-color: #ffffff;
  border: 1px none;
  height: 3332px;
  position: relative;
  width: 1280px;
}

.freeze .flex-container-wrapper {
  background-color: #e5eef8;
  height: 645px;
  left: 0;
  position: absolute;
  top: 1388px;
  width: 1280px;
}

.freeze .flex-container-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 532px;
  left: 99px;
  position: relative;
  top: 27px;
  width: 1082px;
}

.freeze .text-36 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 1082px;
}

.freeze .text-wrapper-57 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
}

.freeze .text-37 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1082px;
}

.freeze .text-wrapper-58 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
}

.freeze .overlap-5 {
  background-color: #d9e6f4;
  height: 700px;
  left: 0;
  position: absolute;
  top: 75px;
  width: 1280px;
}

.freeze .group-14 {
  height: 630px;
  left: 249px;
  position: relative;
  top: 34px;
  width: 782px;
}

.freeze .screen-shot-3 {
  height: 630px;
  left: 516px;
  position: absolute;
  top: 0;
  width: 266px;
}

.freeze .screen-shot-4 {
  height: 572px;
  left: 0;
  position: absolute;
  top: 0;
  width: 264px;
}

.freeze .more-rationale-i {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 104px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2063px;
  width: 1072px;
}

.freeze .user-feedback-the {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 78px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2640px;
  width: 1124px;
}

.freeze .next-step-based-on {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 128px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2427px;
  width: 1113px;
}

.freeze .persona-the-primary {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 165px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1145px;
  width: 902px;
}

.freeze .text-wrapper-59 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 163px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 904px;
  width: 902px;
}

.freeze .text-wrapper-60 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 129px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 820px;
  white-space: nowrap;
}

.freeze .scenarios-use-cases {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 99px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1099px;
  white-space: nowrap;
}
