.expedia-students {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.expedia-students .div-7 {
  background-color: #ffffff;
  border: 1px none;
  height: 9385px;
  position: relative;
  width: 1400px;
}

.expedia-students .overlap-9 {
  height: 946px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 1400px;
}

.expedia-students .group-91 {
  background-image: url(../../../static/img/image-7.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 869px;
  left: 0;
  position: absolute;
  top: 77px;
  width: 1400px;
}

.expedia-students .overlap-group-10 {
  background-color: #ffffffe6;
  height: 762px;
  position: relative;
}

.expedia-students .group-92 {
  height: 415px;
  left: 253px;
  position: absolute;
  top: 183px;
  width: 895px;
}

.expedia-students .design-component-instance-node-3 {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.expedia-students .component-instance {
  white-space: nowrap !important;
  width: unset !important;
}

.expedia-students .component-2-instance {
  left: 0 !important;
  position: absolute !important;
  top: 160px !important;
}

.expedia-students .component-7 {
  left: 496px !important;
  position: absolute !important;
  top: 160px !important;
}

.expedia-students .component-8 {
  left: 0 !important;
  position: absolute !important;
  top: 320px !important;
}

.expedia-students .component-9 {
  left: 496px !important;
  position: absolute !important;
  top: 320px !important;
}

.expedia-students .component-10 {
  left: 496px !important;
  position: absolute !important;
  top: 0 !important;
}

.expedia-students .frame-63 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  left: 425px;
  position: absolute;
  top: 32px;
  width: 550px;
}

.expedia-students .text-wrapper-88 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.expedia-students .problem-statement-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 453px;
}

.expedia-students .text-wrapper-89 {
  font-weight: 700;
}

.expedia-students .text-wrapper-90 {
  font-weight: 600;
}

.expedia-students .text-wrapper-91 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}


.expedia-students .group-93 {
  height: 393px;
  left: 148px;
  position: absolute;
  top: 1037px;
  width: 1042px;
}

.expedia-students .group-94 {
  height: 393px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.expedia-students .ellipse-4 {
  background-color: #2a64ac;
  border-radius: 17.5px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.expedia-students .line-2 {
  height: 358px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 1px;
}

.expedia-students .frame-64 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 142px;
  position: absolute;
  top: 4px;
  width: fit-content;
}

.expedia-students .text-wrapper-92 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.expedia-students .flex-container-23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 343px;
  width: 900px;
}

.expedia-students .text-27 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 900px;
}

.expedia-students .text-wrapper-93 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .group-95 {
  height: 424px;
  left: 153px;
  position: absolute;
  top: 1510px;
  width: 922px;
}

.expedia-students .group-96 {
  height: 421px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 25px;
}

.expedia-students .line-3 {
  height: 396px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 1px;
}

.expedia-students .frame-65 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 35px;
  left: 171px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.expedia-students .overview-of-data {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.expedia-students .frame-66 {
  align-items: center;
  display: flex;
  gap: 249px;
  position: relative;
  width: fit-content;
}

.expedia-students .frame-67 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 79px;
  position: relative;
  width: fit-content;
}

.expedia-students .interview {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.expedia-students .text-wrapper-94 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.expedia-students .frame-68 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 79px;
  position: relative;
  width: fit-content;
}

.expedia-students .frame-69 {
  align-items: center;
  background-color: #d9d9d9;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 2px 61px;
  position: relative;
  width: 315px;
}

.expedia-students .text-wrapper-95 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: -12.5px;
  margin-right: -12.5px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.expedia-students .frame-70 {
  align-items: center;
  background-color: #d9d9d9;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 3px 30px;
  position: relative;
  width: 315px;
}

.expedia-students .text-wrapper-96 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: -9.5px;
  margin-right: -9.5px;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.expedia-students .frame-71 {
  align-items: center;
  background-color: #d9d9d9;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 3px 72px;
  position: relative;
  width: 315px;
}

.expedia-students .text-wrapper-97 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: -12px;
  margin-right: -12px;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.expedia-students .frame-72 {
  align-items: center;
  background-color: #d9d9d9;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 3px 90px;
  position: relative;
  width: 315px;
}

.expedia-students .group-97 {
  height: 189px;
  left: 148px;
  position: absolute;
  top: 2134px;
  width: 1042px;
}

.expedia-students .group-98 {
  height: 189px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.expedia-students .line-4 {
  height: 154px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 1px;
}

.expedia-students .frame-73 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 142px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.expedia-students .frame-74 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 150px;
  left: 153px;
  position: absolute;
  top: 2453px;
  width: fit-content;
}

.expedia-students .group-99 {
  height: 155px;
  min-width: 1037px;
  position: relative;
}

.expedia-students .group-100 {
  height: 154px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.expedia-students .overlap-group-11 {
  height: 154px;
  position: relative;
}

.expedia-students .line-5 {
  height: 131px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 1px;
}

.expedia-students .frame-75 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 137px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.expedia-students .text-wrapper-98 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.expedia-students .flex-container-24 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 109px;
  width: 900px;
}

.expedia-students .text-28 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  margin-bottom: -73px;
  position: relative;
  width: 900px;
}

.expedia-students .text-wrapper-99 {
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
}

.expedia-students .group-101 {
  height: 914px;
  min-width: 1037px;
  position: relative;
}

.expedia-students .group-102 {
  height: 914px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.expedia-students .line-6 {
  height: 889px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 1px;
}

.expedia-students .frame-76 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 91px;
  left: 137px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.expedia-students .frame-77 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.expedia-students .flex-container-25 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 317px;
  width: 900px;
}

.expedia-students .text-29 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: 900px;
}

.expedia-students .image-14 {
  height: 460px;
  min-width: 843.51px;
  object-fit: cover;
  position: relative;
}

.expedia-students .group-103 {
  height: 1185px;
  min-width: 1161px;
  position: relative;
}

.expedia-students .group-104 {
  height: 1185px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.expedia-students .line-7 {
  height: 1160px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 1px;
}

.expedia-students .frame-78 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  left: 95px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.expedia-students .group-105 {
  height: 615px;
  margin-right: -2px;
  min-width: 1068px;
  position: relative;
}

.expedia-students .overlap-group-12 {
  height: 566px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 1066px;
}

.expedia-students .group-106 {
  background-image: url(../../../static/img/image-17.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 243px;
  left: 223px;
  position: absolute;
  top: 0;
  width: 576px;
}

.expedia-students .rectangle-19 {
  background-color: #ffffff;
  height: 33px;
  left: 526px;
  position: absolute;
  top: 4px;
  width: 50px;
}

.expedia-students .rectangle-20 {
  background-color: #ffffff;
  height: 25px;
  left: 0;
  position: absolute;
  top: 37px;
  width: 106px;
}

.expedia-students .element-stars-page {
  height: 309px;
  left: 0;
  position: absolute;
  top: 243px;
  width: 490px;
}

.expedia-students .element-stars-page-2 {
  height: 323px;
  left: 518px;
  position: absolute;
  top: 243px;
  width: 548px;
}

.expedia-students .qualitative-data-and {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 378px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.expedia-students .group-107 {
  height: 747px;
  min-width: 1004px;
  position: relative;
}

.expedia-students .group-108 {
  height: 747px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.expedia-students .line-8 {
  height: 722px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 1px;
}

.expedia-students .frame-79 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  left: 104px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.expedia-students .img-2 {
  height: 573px;
  min-width: 839px;
  position: relative;
}

.expedia-students .group-109 {
  height: 1120px;
  min-width: 1198px;
  position: relative;
}

.expedia-students .group-110 {
  height: 1046px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.expedia-students .line-9 {
  height: 1021px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 1px;
}

.expedia-students .frame-80 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 58px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.expedia-students .image-15 {
  height: 354px;
  min-width: 1133px;
  position: relative;
}

.expedia-students .image-16 {
  height: 512px;
  min-width: 1140px;
  object-fit: cover;
  position: relative;
}

.expedia-students .group-111 {
  height: 566px;
  min-width: 1042px;
  position: relative;
}

.expedia-students .group-112 {
  height: 566px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.expedia-students .line-10 {
  height: 531px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 1px;
}

.expedia-students .group-113 {
  height: 676px;
  min-width: 1042px;
  position: relative;
}

.expedia-students .flex-container-26 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 630px;
  width: 900px;
}

.expedia-students .text-30 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
  white-space: nowrap;
  width: 900px;
}

.expedia-students .text-wrapper-100 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
}

.expedia-students .text-31 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
  width: 900px;
}

.expedia-students .group-114 {
  height: 286px;
  min-width: 1042px;
  position: relative;
}

.expedia-students .group-115 {
  height: 269px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.expedia-students .line-11 {
  height: 234px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 1px;
}

.expedia-students .component-11 {
  height: 54px;
  left: 108px;
  position: absolute;
  top: 9261px;
  width: 1185px;
}

.expedia-students .frame-81 {
  align-items: center;
  display: flex;
  gap: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: fit-content;
}

.expedia-students .polygon-7 {
  height: 28px;
  min-width: 24px;
  position: relative;
}

.expedia-students .main-page-3 {
  color: #000000;
  font-family: "Lemon", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.expedia-students .text-wrapper-101 {
  color: #000000;
  font-family: "Lemon", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-wrapper-102 {
  font-size: 16px;
}

.expedia-students .frame-262-instance {
  bottom: unset !important;
  left: 815px !important;
  right: unset !important;
  top: 0 !important;
}

.expedia-students .frame-82 {
  height: 28px !important;
  min-width: 24px !important;
}
