.expedia-students {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.expedia-students .div-10 {
  background-color: #ffffff;
  border: 1px none;
  height: 7782px;
  overflow-x: hidden;
  position: relative;
  width: 1280px;
}

.expedia-students .overlap-17 {
  height: 844px;
  left: 0;
  position: absolute;
  top: 75px;
  width: 1280px;
}

.expedia-students .image-9 {
  height: 843px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 1277px;
}

.expedia-students .rectangle-12 {
  background-color: #ffffffe6;
  height: 696px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.expedia-students .frame-17 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  left: 365px;
  position: absolute;
  top: 32px;
  width: 550px;
}

.expedia-students .text-wrapper-146 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.expedia-students .problem-statement-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 453px;
}

.expedia-students .text-wrapper-147 {
  font-weight: 700;
}

.expedia-students .text-wrapper-148 {
  font-weight: 600;
}

.expedia-students .text-wrapper-149 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .group-43 {
  height: 415px;
  left: 193px;
  position: absolute;
  top: 183px;
  width: 895px;
}

.expedia-students .overlap-18 {
  height: 6550px;
  left: 123px;
  position: absolute;
  top: 978px;
  width: 1197px;
}

.expedia-students .group-44 {
  height: 6550px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.expedia-students .group-45 {
  height: 424px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.expedia-students .ellipse-2 {
  background-color: #0073c2;
  border-radius: 17.5px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.expedia-students .line-5 {
  height: 389px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 1px;
}

.expedia-students .group-46 {
  height: 488px;
  left: 5px;
  position: absolute;
  top: 449px;
  width: 25px;
}

.expedia-students .ellipse-3 {
  background-color: #0073c2;
  border-radius: 12.5px;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.expedia-students .line-6 {
  height: 463px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 1px;
}

.expedia-students .group-47 {
  height: 248px;
  left: 0;
  position: absolute;
  top: 962px;
  width: 35px;
}

.expedia-students .ellipse-4 {
  background-color: #0073c2;
  border-radius: 17.5px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.expedia-students .line-7 {
  height: 213px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 1px;
}

.expedia-students .group-48 {
  height: 886px;
  left: 5px;
  position: absolute;
  top: 4102px;
  width: 25px;
}

.expedia-students .overlap-group-12 {
  height: 886px;
  position: relative;
}

.expedia-students .ellipse-5 {
  background-color: #0073c2;
  border-radius: 12.5px;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.expedia-students .line-8 {
  height: 865px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 21px;
  width: 1px;
}

.expedia-students .group-49 {
  height: 570px;
  left: 5px;
  position: absolute;
  top: 5015px;
  width: 25px;
}

.expedia-students .ellipse-6 {
  background-color: #0073c2;
  border-radius: 12.5px;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.expedia-students .line-9 {
  height: 544px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 1px;
}

.expedia-students .group-50 {
  height: 634px;
  left: 0;
  position: absolute;
  top: 5618px;
  width: 35px;
}

.expedia-students .ellipse-7 {
  background-color: #0073c2;
  border-radius: 17.5px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.expedia-students .line-10 {
  height: 599px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 1px;
}

.expedia-students .group-51 {
  height: 269px;
  left: 0;
  position: absolute;
  top: 6281px;
  width: 35px;
}

.expedia-students .ellipse-8 {
  background-color: #0073c2;
  border-radius: 17.5px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.expedia-students .line-11 {
  height: 234px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 1px;
}

.expedia-students .group-52 {
  height: 349px;
  left: 5px;
  position: absolute;
  top: 1232px;
  width: 25px;
}

.expedia-students .overlap-19 {
  height: 349px;
  position: relative;
}

.expedia-students .ellipse-9 {
  background-color: #0073c2;
  border-radius: 12.5px;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.expedia-students .line-12 {
  height: 326px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 1px;
}

.expedia-students .group-53 {
  height: 1083px;
  left: 5px;
  position: absolute;
  top: 1602px;
  width: 25px;
}

.expedia-students .group-54 {
  background-color: #0073c2;
  border-radius: 12.5px;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.expedia-students .line-13 {
  height: 1057px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 1px;
}

.expedia-students .group-55 {
  height: 1352px;
  left: 5px;
  position: absolute;
  top: 2719px;
  width: 25px;
}

.expedia-students .ellipse-10 {
  background-color: #0073c2;
  border-radius: 12.5px;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.expedia-students .line-14 {
  height: 1327px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 1px;
}

.expedia-students .group-56 {
  height: 6536px;
  left: 24px;
  position: absolute;
  top: 4px;
  width: 1173px;
}

.expedia-students .overlap-20 {
  height: 566px;
  left: 22px;
  position: absolute;
  top: 3334px;
  width: 1066px;
}

.expedia-students .group-57 {
  background-image: url(../../../static/img/image-17.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 243px;
  left: 183px;
  position: absolute;
  top: 0;
  width: 576px;
}

.expedia-students .rectangle-13 {
  background-color: #ffffff;
  height: 33px;
  left: 526px;
  position: absolute;
  top: 4px;
  width: 50px;
}

.expedia-students .rectangle-14 {
  background-color: #ffffff;
  height: 25px;
  left: 0;
  position: absolute;
  top: 37px;
  width: 106px;
}

.expedia-students .element-stars-page {
  height: 309px;
  left: 0;
  position: absolute;
  top: 243px;
  width: 490px;
}

.expedia-students .element-stars-page-2 {
  height: 323px;
  left: 518px;
  position: absolute;
  top: 243px;
  width: 548px;
}

.expedia-students .text-wrapper-150 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 79px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.expedia-students .research-empathize {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 79px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 962px;
  white-space: nowrap;
}

.expedia-students .flex-container-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 343px;
  left: 106px;
  position: absolute;
  top: 46px;
  width: 830px;
}

.expedia-students .text-69 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 830px;
}

.expedia-students .text-wrapper-151 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-70 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 830px;
}

.expedia-students .text-wrapper-152 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .img-2 {
  height: 573px;
  left: 106px;
  position: absolute;
  top: 4248px;
  width: 839px;
}

.expedia-students .preparing-interview {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 79px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 1227px;
  white-space: nowrap;
}

.expedia-students .conducting-affinity {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 79px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 1598px;
  white-space: nowrap;
}

.expedia-students .flex-container-16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 343px;
  left: 106px;
  position: absolute;
  top: 1656px;
  width: 830px;
}

.expedia-students .text-71 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 830px;
}

.expedia-students .text-wrapper-153 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-72 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: 830px;
}

.expedia-students .text-wrapper-154 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-73 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 830px;
}

.expedia-students .text-wrapper-155 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-wrapper-156 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-74 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 830px;
}

.expedia-students .text-wrapper-157 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-wrapper-158 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-75 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 830px;
}

.expedia-students .text-wrapper-159 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-wrapper-160 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-76 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 830px;
}

.expedia-students .text-wrapper-161 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-wrapper-162 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-77 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 830px;
}

.expedia-students .text-wrapper-163 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-wrapper-164 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-78 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 830px;
}

.expedia-students .text-wrapper-165 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-wrapper-166 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-79 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 830px;
}

.expedia-students .text-wrapper-167 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-wrapper-168 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .flex-container-17 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 161px;
  left: 106px;
  position: absolute;
  top: 1285px;
  width: 830px;
}

.expedia-students .text-80 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 830px;
}

.expedia-students .text-wrapper-169 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-81 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  margin-bottom: -21px;
  position: relative;
  width: 830px;
}

.expedia-students .text-wrapper-170 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-wrapper-171 {
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
}

.expedia-students .text-wrapper-172 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-wrapper-173 {
  font-weight: 700;
}

.expedia-students .text-wrapper-174 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .image-10 {
  height: 460px;
  left: 64px;
  object-fit: cover;
  position: absolute;
  top: 2052px;
  width: 844px;
}

.expedia-students .our-research-team {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 106px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 2761px;
  width: 830px;
}

.expedia-students .text-wrapper-175 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .text-wrapper-176 {
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
}

.expedia-students .text-wrapper-177 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.expedia-students .collecting-survey {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 79px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 2715px;
  white-space: nowrap;
}

.expedia-students .text-wrapper-178 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 79px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 5619px;
  white-space: nowrap;
}

.expedia-students .overview-of-data {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 273px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 449px;
  white-space: nowrap;
}

.expedia-students .qualitative-data-and {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 380px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 3285px;
  white-space: nowrap;
}

.expedia-students .group-58 {
  height: 362px;
  left: 99px;
  position: absolute;
  top: 527px;
  width: 785px;
}

.expedia-students .interview {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 63px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.expedia-students .group-59 {
  height: 35px;
  left: 436px;
  position: absolute;
  top: 102px;
  width: 343px;
}

.expedia-students .access-to-affinity-wrapper {
  background-color: #d9d9d9;
  height: 35px;
  position: relative;
  width: 341px;
}

.expedia-students .access-to-affinity {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  text-decoration: underline;
  top: 6px;
  white-space: nowrap;
}

.expedia-students .text-wrapper-179 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 108px;
  white-space: nowrap;
}

.expedia-students .text-wrapper-180 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 76px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 209px;
  white-space: nowrap;
}

.expedia-students .text-wrapper-181 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 70px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 314px;
  white-space: nowrap;
}

.expedia-students .group-60 {
  height: 35px;
  left: 436px;
  position: absolute;
  top: 0;
  width: 343px;
}

.expedia-students .access-to-interview-wrapper {
  background-color: #d9d9d9;
  height: 35px;
  position: relative;
  width: 341px;
}

.expedia-students .access-to-interview {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 61px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  text-decoration: underline;
  top: 7px;
  white-space: nowrap;
}

.expedia-students .group-61 {
  height: 35px;
  left: 436px;
  position: absolute;
  top: 209px;
  width: 343px;
}

.expedia-students .access-to-survey-wrapper {
  background-color: #d9d9d9;
  height: 35px;
  position: relative;
  width: 341px;
}

.expedia-students .access-to-survey {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 72px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  text-decoration: underline;
  top: 6px;
  white-space: nowrap;
}

.expedia-students .group-62 {
  height: 35px;
  left: 436px;
  position: absolute;
  top: 327px;
  width: 343px;
}

.expedia-students .access-to-persona-wrapper {
  background-color: #d9d9d9;
  height: 35px;
  position: relative;
  width: 341px;
}

.expedia-students .access-to-persona {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 90px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  text-decoration: underline;
  top: 6px;
  white-space: nowrap;
}

.expedia-students .text-wrapper-182 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 106px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 6328px;
  width: 830px;
}

.expedia-students .for-current-expedia {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 106px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 5665px;
  width: 885px;
}

.expedia-students .text-wrapper-183 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 79px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 6282px;
  white-space: nowrap;
}

.expedia-students .based-off-of-the {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 106px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 4147px;
  width: 830px;
}

.expedia-students .text-wrapper-184 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 106px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 5060px;
  width: 830px;
}

.expedia-students .creating-a-user {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 79px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 4098px;
  white-space: nowrap;
}

.expedia-students .creating-user {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 79px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 5011px;
  white-space: nowrap;
}

.expedia-students .text-wrapper-185 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 106px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 1021px;
  width: 830px;
}

.expedia-students .image-11 {
  height: 354px;
  left: 0;
  position: absolute;
  top: 5161px;
  width: 1133px;
}
