.title {
  align-items: center;
  background-color: #fdf7ff;
  display: flex;
  gap: 24px;
  padding: 24px;
  position: relative;
  width: fit-content;
}

.title .heuristics {
  color: #5d5d5d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: 316px;
}

.title .violation {
  color: #5d5d5d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: 316px;
}

.title .recommendation {
  color: #5d5d5d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: 316px;
}

.title .severity-2 {
  color: #5d5d5d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: 76px;
}
