.component {
  height: 54px;
  left: 5588px;
  position: relative;
  top: -4955px;
  width: 1185px;
}

.component .frame-258 {
  align-items: center !important;
  left: 0 !important;
  position: absolute !important;
  top: 13px !important;
}

.component .frame-instance {
  text-align: unset !important;
}

.component .frame-262 {
  bottom: unset !important;
  left: 882px !important;
  right: unset !important;
  top: 0 !important;
}
