.component {
  height: 100px;
  left: 193px;
  position: relative;
  top: 530px;
  width: 399px;
}

.component .project-type {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 206px;
}

.component .usability-needs-and {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 41px;
  width: 399px;
}
