.element-overview {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-overview .element-cademy-overview {
  background-color: #ffffff;
  border: 1px none;
  height: 13765px;
  position: relative;
  width: 1378px;
}

.element-overview .overlap-2 {
  background-image: url(../../../static/img/screen-shot-2023-06-19-at-6-17-1.png);
  background-size: 100% 100%;
  height: 894px;
  left: 0;
  position: absolute;
  top: 75px;
  width: 1378px;
}

.element-overview .rectangle-4 {
  background-color: #ffffffcc;
  height: 730px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1378px;
}

.element-overview .frame-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  left: 414px;
  position: absolute;
  top: 32px;
  width: 550px;
}

.element-overview .h-1 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-overview .a-collaborating {
  color: transparent;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  text-align: center;
  width: 453px;
}

.element-overview .span {
  color: #000000;
}

.element-overview .text-wrapper-2 {
  color: #0073c2;
  text-decoration: underline;
}

.element-overview .group-2 {
  height: 438px;
  left: 219px;
  position: absolute;
  top: 219px;
  width: 953px;
}

.element-overview .frame-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 300px;
  left: 144px;
  padding: 200px 0px;
  position: absolute;
  top: 969px;
  width: fit-content;
}

.element-overview .group-3 {
  height: 1189px;
  min-width: 1023px;
  position: relative;
}

.element-overview .ellipse-2 {
  background-color: #0073c2;
  border-radius: 17.5px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .ellipse-3 {
  background-color: #0073c2;
  border-radius: 12.5px;
  height: 25px;
  left: 5px;
  position: absolute;
  top: 520px;
  width: 25px;
}

.element-overview .ellipse-4 {
  background-color: #0073c2;
  border-radius: 12.5px;
  height: 25px;
  left: 5px;
  position: absolute;
  top: 989px;
  width: 25px;
}

.element-overview .ellipse-5 {
  background-color: #0073c2;
  border-radius: 12.5px;
  height: 25px;
  left: 5px;
  position: absolute;
  top: 68px;
  width: 25px;
}

.element-overview .line {
  height: 427px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 93px;
  width: 1px;
}

.element-overview .img {
  height: 443px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 546px;
  width: 1px;
}

.element-overview .line-2 {
  height: 175px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 1014px;
  width: 1px;
}

.element-overview .line-3 {
  height: 33px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 1px;
}

.element-overview .frame-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: 105px;
  position: absolute;
  top: 4px;
  width: fit-content;
}

.element-overview .text-wrapper-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-overview .frame-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 150px;
  position: relative;
  width: fit-content;
}

.element-overview .frame-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 150px;
  position: relative;
  width: fit-content;
}

.element-overview .group-4 {
  height: 306px;
  margin-right: -4px;
  min-width: 922px;
  position: relative;
}

.element-overview .UI-UX-design-UX {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.element-overview .as-a-member-of {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 46px;
  width: 900px;
}

.element-overview .group-5 {
  height: 312px;
  margin-right: -4px;
  min-width: 922px;
  position: relative;
}

.element-overview .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 266px;
  left: 18px;
  position: absolute;
  top: 46px;
  width: 900px;
}

.element-overview .text {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 900px;
}

.element-overview .text-wrapper-4 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .span-wrapper {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: 900px;
}

.element-overview .text-wrapper-5 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .text-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: 900px;
}

.element-overview .text-wrapper-6 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .text-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: 900px;
}

.element-overview .text-wrapper-7 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .text-4 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: 900px;
}

.element-overview .text-wrapper-8 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .text-5 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 900px;
}

.element-overview .text-wrapper-9 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .research-assistant {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.element-overview .group-6 {
  height: 200px;
  margin-right: -4px;
  min-width: 922px;
  position: relative;
}

.element-overview .p {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.element-overview .text-wrapper-10 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 44px;
  width: 900px;
}

.element-overview .group-7 {
  height: 535px;
  margin-right: -4px;
  min-width: 1218px;
  position: relative;
}

.element-overview .text-wrapper-11 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 139px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.element-overview .text-wrapper-12 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 157px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 60px;
  width: 900px;
}

.element-overview .group-8 {
  height: 328px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .overlap-group-6 {
  height: 328px;
  position: relative;
}

.element-overview .ellipse-6 {
  background-color: #e6a585;
  border-radius: 17.5px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .line-4 {
  height: 294px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 1px;
}

.element-overview .element-app-bar {
  align-items: center;
  display: flex;
  height: 72px;
  justify-content: space-between;
  left: 0;
  padding: 0px 20px 0px 0px;
  position: absolute;
  top: 376px;
  width: 1214px;
}

.element-overview .rectangle-5 {
  background-color: #28282a;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.element-overview .frame-8 {
  align-items: center;
  display: flex;
  gap: 20px;
  margin-left: -1214px;
  position: relative;
  width: 460px;
}

.element-overview .image {
  align-self: stretch;
  height: 59px;
  min-width: 85px;
  position: relative;
}

.element-overview .search-bar-navbar {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin-left: -1214px;
  padding: 8px 20px;
  position: relative;
  width: 392px;
}

.element-overview .text-wrapper-13 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 15px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element-overview .vector-2 {
  height: 15px;
  min-width: 15px;
  position: relative;
}

.element-overview .rectangle-6 {
  background-color: #f5f5f51a;
  border-radius: 3px;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0;
  width: 100%;
}

.element-overview .frame-9 {
  align-items: center;
  display: flex;
  gap: 16px;
  margin-left: -1214px;
  position: relative;
  width: fit-content;
}

.element-overview .group-9 {
  height: 375px;
  min-width: 1052px;
  position: relative;
}

.element-overview .UI-UX-design {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 130px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.element-overview .before-making-the {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 148px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 60px;
  width: 900px;
}

.element-overview .text-wrapper-14 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .text-wrapper-15 {
  font-weight: 700;
}

.element-overview .text-wrapper-16 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .group-10 {
  height: 328px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .overlap-group-7 {
  height: 328px;
  position: relative;
}

.element-overview .ellipse-7 {
  background-color: #e6a585;
  border-radius: 17.5px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .line-5 {
  height: 294px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 1px;
}

.element-overview .group-11 {
  height: 1004px;
  min-width: 1065px;
  position: relative;
}

.element-overview .text-wrapper-17 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 130px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.element-overview .flex-container-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 254px;
  left: 148px;
  position: absolute;
  top: 58px;
  width: 913px;
}

.element-overview .text-6 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: 913px;
}

.element-overview .text-wrapper-18 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .text-7 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: 913px;
}

.element-overview .text-wrapper-19 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .text-8 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: 913px;
}

.element-overview .text-wrapper-20 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .text-9 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: 913px;
}

.element-overview .text-wrapper-21 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .text-10 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: 913px;
}

.element-overview .text-wrapper-22 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .text-11 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: 913px;
}

.element-overview .text-wrapper-23 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .text-12 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  width: 913px;
}

.element-overview .text-wrapper-24 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .group-12 {
  height: 303px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .overlap-group-8 {
  height: 303px;
  position: relative;
}

.element-overview .ellipse-8 {
  background-color: #e6a585;
  border-radius: 17.5px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .line-6 {
  height: 269px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 1px;
}

.element-overview .image-2 {
  height: 629px;
  left: 192px;
  object-fit: cover;
  position: absolute;
  top: 375px;
  width: 682px;
}

.element-overview .group-13 {
  height: 763px;
  min-width: 1063px;
  position: relative;
}

.element-overview .text-wrapper-25 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 130px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.element-overview .group-14 {
  height: 677px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .overlap-group-9 {
  height: 677px;
  position: relative;
}

.element-overview .ellipse-9 {
  background-color: #e6a585;
  border-radius: 17.5px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .line-7 {
  height: 643px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 1px;
}

.element-overview .screen-shot {
  height: 653px;
  left: 77px;
  object-fit: cover;
  position: absolute;
  top: 110px;
  width: 312px;
}

.element-overview .group-15 {
  height: 1605px;
  min-width: 1120px;
  position: relative;
}

.element-overview .group-16 {
  height: 264px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .ellipse-10 {
  background-color: #c0d6ed;
  border-radius: 17.5px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .line-8 {
  height: 229px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 1px;
}

.element-overview .group-17 {
  height: 213px;
  left: 122px;
  position: absolute;
  top: 4px;
  width: 922px;
}

.element-overview .text-wrapper-26 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.element-overview .text-wrapper-27 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 31px;
  width: 900px;
}

.element-overview .overlap-wrapper {
  height: 1302px;
  left: 18px;
  position: absolute;
  top: 303px;
  width: 1102px;
}

.element-overview .overlap-3 {
  height: 1303px;
  position: relative;
  width: 1103px;
}

.element-overview .element-7 {
  align-items: center;
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #bdbdbd;
  display: flex;
  flex-direction: column;
  height: 661px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1102px;
}

.element-overview .element-8 {
  align-items: flex-start;
  background-color: #fdf7ff;
  display: flex;
  gap: 24px;
  height: 127px;
  margin-left: -9.5px;
  margin-right: -8.5px;
  margin-top: -9px;
  padding: 24px;
  position: relative;
  width: 1120px;
}

.element-overview .principle-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: -61px;
  position: relative;
  width: fit-content;
}

.element-overview .text-wrapper-28 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 316px;
}

.element-overview .description-2 {
  color: #7c7c7c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 316px;
}

.element-overview .dipisci-velit-sed {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: 316px;
}

.element-overview .architecto-beatae {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: 316px;
}

.element-overview .element-9 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 142px;
  margin-left: -9.5px;
  margin-right: -8.5px;
  margin-top: -9px;
  padding: 24px;
  position: relative;
  width: 1120px;
}

.element-overview .principle-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: -68px;
  position: relative;
  width: fit-content;
}

.element-overview .text-wrapper-29 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 316px;
}

.element-overview .description-3 {
  color: #7c7c7c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 316px;
}

.element-overview .sed-ut-perspiciatis {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: 316px;
}

.element-overview .dipisci-velit-sed-2 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: 316px;
}

.element-overview .element-10 {
  align-items: center;
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #bdbdbd;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 660px;
  width: 1103px;
}

.element-overview .element-11 {
  align-items: flex-start;
  background-color: #fdf7ff;
  display: flex;
  gap: 24px;
  height: 108px;
  justify-content: center;
  margin-left: -0.5px;
  padding: 24px;
  position: relative;
  width: 1103px;
}

.element-overview .principle-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: -80px;
  margin-left: -20.5px;
  position: relative;
  width: fit-content;
}

.element-overview .text-wrapper-30 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 316px;
}

.element-overview .description-4 {
  color: #7c7c7c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 316px;
}

.element-overview .element-amet-minim-mollit {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -27.5px;
  margin-top: -0.5px;
  position: relative;
  width: 316px;
}

.element-overview .amet-minim-mollit {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: 316px;
}

.element-overview .element-12 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 104px;
  justify-content: center;
  padding: 24px;
  position: relative;
  width: 1102px;
}

.element-overview .principle-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: -106px;
  margin-left: -21px;
  position: relative;
  width: fit-content;
}

.element-overview .text-wrapper-31 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 316px;
}

.element-overview .description-5 {
  color: #7c7c7c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 316px;
}

.element-overview .sed-ut-perspiciatis-2 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -9.5px;
  margin-top: -0.5px;
  position: relative;
  width: 316px;
}

.element-overview .quis-nostrum {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: 316px;
}

.element-overview .element-13 {
  align-items: flex-start;
  background-color: #fdf7ff;
  display: flex;
  gap: 24px;
  height: 108px;
  justify-content: center;
  padding: 24px;
  position: relative;
  width: 1102px;
}

.element-overview .principle-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: -102px;
  margin-left: -21px;
  position: relative;
  width: fit-content;
}

.element-overview .text-wrapper-32 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 316px;
}

.element-overview .description-6 {
  color: #7c7c7c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 316px;
}

.element-overview .element-dipisci-velit-sed {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: 316px;
}

.element-overview .architecto-beatae-2 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: 316px;
}

.element-overview .group-18 {
  height: 1355.76px;
  min-width: 1044px;
  position: relative;
}

.element-overview .text-wrapper-33 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 122px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.element-overview .creating-personas {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 140px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 51px;
  width: 900px;
}

.element-overview .text-wrapper-34 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .text-wrapper-35 {
  font-weight: 300;
}

.element-overview .text-wrapper-36 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
}

.element-overview .group-19 {
  height: 568px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .overlap-group-10 {
  height: 568px;
  position: relative;
}

.element-overview .ellipse-11 {
  background-color: #c0d6ed;
  border-radius: 17.5px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .line-9 {
  height: 534px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 1px;
}

.element-overview .overlap-4 {
  height: 964px;
  left: 58px;
  position: absolute;
  top: 392px;
  width: 949px;
}

.element-overview .rectangle-wrapper {
  background-image: url(../../../static/img/image-12.png);
  background-size: 100% 100%;
  height: 490px;
  left: 238px;
  position: absolute;
  top: 474px;
  width: 711px;
}

.element-overview .rectangle-7 {
  background-color: #fffcf1;
  height: 15px;
  left: 18px;
  position: relative;
  top: 276px;
  width: 9px;
}

.element-overview .group-20 {
  background-image: url(../../../static/img/image-10.png);
  background-size: 100% 100%;
  height: 474px;
  left: 0;
  position: absolute;
  top: 0;
  width: 675px;
}

.element-overview .rectangle-8 {
  background-color: #f5fbff;
  height: 17px;
  left: 9px;
  position: relative;
  top: 263px;
  width: 9px;
}

.element-overview .group-21 {
  height: 925px;
  min-width: 1081px;
  position: relative;
}

.element-overview .text-wrapper-37 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 122px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.element-overview .text-wrapper-38 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 140px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 60px;
  width: 900px;
}

.element-overview .group-22 {
  height: 432px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .overlap-group-11 {
  height: 432px;
  position: relative;
}

.element-overview .ellipse-12 {
  background-color: #c0d6ed;
  border-radius: 17.5px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .line-10 {
  height: 398px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 1px;
}

.element-overview .group-23 {
  height: 709px;
  left: 82px;
  position: absolute;
  top: 216px;
  width: 995px;
}

.element-overview .overlap-5 {
  height: 709px;
  position: relative;
  width: 997px;
}

.element-overview .group-24 {
  height: 323px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 996px;
}

.element-overview .paul-wrapper {
  background-image: url(../../../static/img/image-13.png);
  background-size: 100% 100%;
  height: 323px;
  position: relative;
  width: 994px;
}

.element-overview .paul {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
}

.element-overview .image-3 {
  height: 393px;
  left: 0;
  position: absolute;
  top: 316px;
  width: 995px;
}

.element-overview .group-25 {
  height: 370px;
  min-width: 1052px;
  position: relative;
}

.element-overview .text-wrapper-39 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 130px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.element-overview .text-wrapper-40 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 148px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 58px;
  width: 900px;
}

.element-overview .group-26 {
  height: 362px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .overlap-group-12 {
  height: 362px;
  position: relative;
}

.element-overview .ellipse-13 {
  background-color: #ede2a8;
  border-radius: 17.5px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .line-11 {
  height: 328px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 1px;
}

.element-overview .group-27 {
  height: 1029px;
  min-width: 1111px;
  position: relative;
}

.element-overview .presenting-modifying {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 130px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.element-overview .text-wrapper-41 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 148px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 58px;
  width: 900px;
}

.element-overview .group-28 {
  height: 328px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .overlap-group-13 {
  height: 328px;
  position: relative;
}

.element-overview .ellipse-14 {
  background-color: #ede2a8;
  border-radius: 17.5px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .line-12 {
  height: 294px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 1px;
}

.element-overview .screen-shot-2 {
  height: 723px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 306px;
  width: 283px;
}

.element-overview .screen-shot-3 {
  height: 627px;
  left: 533px;
  position: absolute;
  top: 306px;
  width: 574px;
}

.element-overview .group-29 {
  height: 328px;
  min-width: 1052px;
  position: relative;
}

.element-overview .text-wrapper-42 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 130px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.element-overview .text-wrapper-43 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 148px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 60px;
  width: 900px;
}

.element-overview .group-30 {
  height: 328px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .overlap-group-14 {
  height: 328px;
  position: relative;
}

.element-overview .ellipse-15 {
  background-color: #ede2a8;
  border-radius: 17.5px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.element-overview .line-13 {
  height: 294px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 1px;
}
