.research {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.research .div-5 {
  background-color: #ffffff;
  border: 1px none;
  height: 5154px;
  position: relative;
  width: 1280px;
}

.research .group-15 {
  height: 1280px;
  left: 12px;
  position: absolute;
  top: 178px;
  width: 1256px;
}

.research .overlap-group-8 {
  height: 1222px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1256px;
}

.research .image {
  height: 383px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 839px;
  width: 1256px;
}

.research .frame-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 23px;
  left: 34px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.research .group-16 {
  height: 223px;
  min-width: 549px;
  position: relative;
}

.research .text-wrapper-61 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.research .problem-statement {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 58px;
  width: 453px;
}

.research .text-wrapper-62 {
  font-weight: 700;
}

.research .text-wrapper-63 {
  font-weight: 600;
}

.research .text-wrapper-64 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.research .goal-reanalyzed {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 136px;
  width: 453px;
}

.research .text-wrapper-65 {
  font-weight: 700;
}

.research .text-wrapper-66 {
  font-weight: 600;
}

.research .text-wrapper-67 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.research .image-2 {
  height: 620px;
  min-width: 1164px;
  object-fit: cover;
  position: relative;
}

.research .group-17 {
  height: 1066px;
  left: 53px;
  position: absolute;
  top: 1711px;
  width: 1181px;
}

.research .text-wrapper-68 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 401px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.research .techniques-heuristic {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 299px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 61px;
  width: 529px;
}

.research .text-wrapper-69 {
  font-weight: 700;
}

.research .text-wrapper-70 {
  font-weight: 500;
}

.research .text-wrapper-71 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.research .goals-improve-the {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 299px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 142px;
  width: 529px;
}

.research .text-wrapper-72 {
  font-weight: 700;
}

.research .text-wrapper-73 {
  font-weight: 500;
}

.research .group-18 {
  height: 733px;
  left: 0;
  position: absolute;
  top: 268px;
  width: 1175px;
}

.research .overlap-group-9 {
  height: 733px;
  position: relative;
}

.research .image-3 {
  height: 666px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 786px;
}

.research .image-4 {
  height: 659px;
  left: 416px;
  object-fit: cover;
  position: absolute;
  top: 74px;
  width: 759px;
}

.research .group-19 {
  height: 1920px;
  left: 45px;
  position: absolute;
  top: 2993px;
  width: 1190px;
}

.research .frame-7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  left: 0;
  position: absolute;
  top: 1116px;
  width: fit-content;
}

.research .text-wrapper-74 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.research .overview-collected {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 453px;
}

.research .text-wrapper-75 {
  font-weight: 700;
}

.research .text-wrapper-76 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

.research .image-5 {
  height: 540px;
  min-width: 1190px;
  position: relative;
}

.research .frame-8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: 17px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.research .organizational {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.research .poster-information {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 746px;
}

.research .text-wrapper-77 {
  font-weight: 700;
}

.research .text-wrapper-78 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

.research .poster-draft {
  height: 925px;
  min-width: 1156px;
  object-fit: cover;
  position: relative;
}
