.div-wrapper {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #000000;
  height: 77px;
  width: 178px;
}

.div-wrapper .overlap-group-3 {
  background-color: #ece1a7;
  height: 75px;
  position: relative;
  width: 176px;
}

.div-wrapper .research-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
}

.div-wrapper .polygon-2 {
  height: 13px;
  left: 148px;
  position: absolute;
  top: 34px;
  width: 15px;
}
