.div-wrapper {
  height: 40px;
  width: 76px;
}

.div-wrapper .overlap-group-4 {
  background-color: #f6c284;
  border: 1px solid;
  border-color: #683b18;
  border-radius: 8px;
  height: 40px;
  left: 18px;
  position: relative;
  width: 40px;
}

.div-wrapper .element-5 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
}
