.property-default-wrapper {
  align-items: center;
  border-radius: 60px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  left: 20px;
  padding: 10px;
  position: relative;
}

.property-default-wrapper .view-more {
  color: #ffffff;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -1px;
  margin-left: -1.5px;
  margin-right: -1.5px;
  margin-top: -3px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.property-default-wrapper .view-more-2 {
  color: #ffffff;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -1px;
  margin-top: -3px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.property-default-wrapper .icons {
  height: 24px;
  margin-bottom: -2px;
  margin-top: -2px;
  min-width: 24px;
  position: relative;
}

.property-default-wrapper.link-to-other-pages {
  background-color: #403f3f;
  top: 152px;
  width: 157px;
}

.property-default-wrapper.default {
  background-color: #403f3f;
  top: 20px;
  width: 115px;
}

.property-default-wrapper.g-it {
  background-color: #2a64ac;
  top: 86px;
  width: 158px;
}
