.resume {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.resume .div-2 {
  background-color: #ffffff;
  border: 1px none;
  height: 1119px;
  position: relative;
  width: 1280px;
}

.resume .navigation-bar-wrapper {
  background-color: #ece1a7;
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.resume .navigation-bar {
  height: 75px;
}

.resume .overlap-2 {
  height: 419px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 1282px;
}

.resume .rectangle-4 {
  background-color: #e6d892;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #000000;
  height: 77px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1282px;
}

.resume .mingke-dai {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
}

.resume .text-wrapper-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 216px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
}

.resume .programming-menu {
  height: 418px;
  left: 364px;
  position: absolute;
  top: 1px;
  width: 228px;
}

.resume .design-menu {
  height: 418px;
  left: 632px;
  position: absolute;
  top: 1px;
  width: 149px;
}

.resume .research-menu {
  height: 418px;
  left: 821px;
  position: absolute;
  top: 1px;
  width: 175px;
}

.resume .frame-3 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 1819px;
  justify-content: center;
  left: 58px;
  padding: 20px;
  position: absolute;
  top: 150px;
  width: 1164px;
}

.resume .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 84px;
  width: 1102px;
}

.resume .text {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 1102px;
}

.resume .span {
  font-weight: 800;
}

.resume .text-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 1102px;
}

.resume .text-wrapper-3 {
  font-size: 24px;
  text-decoration: underline;
}

.resume .text-wrapper-4 {
  font-size: 24px;
}

.resume .group-3 {
  height: 215px;
  margin-right: -4px;
  min-width: 1107.53px;
  position: relative;
}

.resume .h-1 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1102px;
}

.resume .flex-container-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 156px;
  left: 10px;
  position: absolute;
  top: 59px;
  width: 1094px;
}

.resume .span-wrapper {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1094px;
}

.resume .text-wrapper-5 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1094px;
}

.resume .text-wrapper-6 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-4 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 1094px;
}

.resume .text-wrapper-7 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-5 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 1094px;
}

.resume .text-wrapper-8 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .group-4 {
  height: 1031px;
  margin-right: -2px;
  min-width: 1109px;
  position: relative;
}

.resume .group-5 {
  height: 592px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1106px;
}

.resume .text-wrapper-9 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1099px;
}

.resume .flex-container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 533px;
  left: 9px;
  position: absolute;
  top: 59px;
  width: 1093px;
}

.resume .text-6 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1093.23px;
}

.resume .text-wrapper-10 {
  font-weight: 600;
}

.resume .text-wrapper-11 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-wrapper-12 {
  font-weight: 600;
}

.resume .text-7 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1093.23px;
}

.resume .text-wrapper-13 {
  font-weight: 500;
  text-decoration: underline;
}

.resume .text-wrapper-14 {
  font-weight: 500;
}

.resume .text-wrapper-15 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-8 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1093.23px;
}

.resume .text-wrapper-16 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-9 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1093.23px;
}

.resume .text-wrapper-17 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-10 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 1093.23px;
}

.resume .text-wrapper-18 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-11 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1093.23px;
}

.resume .text-wrapper-19 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-12 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1093.23px;
}

.resume .text-wrapper-20 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-13 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1093.23px;
}

.resume .text-wrapper-21 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-14 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1093.23px;
}

.resume .text-wrapper-22 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .flex-container-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 417px;
  left: 5px;
  position: absolute;
  top: 614px;
  width: 1102px;
}

.resume .text-15 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1102px;
}

.resume .text-wrapper-23 {
  font-weight: 600;
}

.resume .text-wrapper-24 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-wrapper-25 {
  font-weight: 600;
}

.resume .text-wrapper-26 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-16 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1102px;
}

.resume .text-wrapper-27 {
  font-weight: 500;
}

.resume .text-wrapper-28 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-17 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1102px;
}

.resume .text-wrapper-29 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-18 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1102px;
}

.resume .text-wrapper-30 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-19 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1102px;
}

.resume .text-wrapper-31 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-20 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1102px;
}

.resume .text-wrapper-32 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .text-21 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1102px;
}

.resume .text-wrapper-33 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume .flex-container-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 271px;
  width: 1097px;
}

.resume .text-22 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 1097px;
}

.resume .text-wrapper-34 {
  font-weight: 700;
}

.resume .text-23 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 1097px;
}

.resume .text-wrapper-35 {
  font-size: 24px;
}

.resume .text-24 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 1097px;
}

.resume .text-wrapper-36 {
  font-size: 24px;
}

.resume .text-25 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 1097px;
}

.resume .text-wrapper-37 {
  font-size: 24px;
}

.resume .text-26 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1097px;
}

.resume .text-wrapper-38 {
  font-size: 24px;
}

.resume .text-27 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 1097px;
}

.resume .text-wrapper-39 {
  font-size: 24px;
}
