.communieat {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.communieat .div-6 {
  background-color: #ffffff;
  border: 1px none;
  height: 6491px;
  position: relative;
  width: 1280px;
}

.communieat .overlap-6 {
  height: 790px;
  left: 0;
  position: absolute;
  top: 5701px;
  width: 100%;
}

.communieat .frame-10 {
  background-color: #e5eef8;
  height: 790px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.communieat .text-wrapper-109 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 85px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 31px;
  white-space: nowrap;
}

.communieat .frame-11 {
  align-items: flex-start;
  display: flex;
  gap: 80px;
  left: 79px;
  position: absolute;
  top: 107px;
  width: fit-content;
}

.communieat .screen-shot-11 {
  height: 648px;
  min-width: 329px;
  object-fit: cover;
  position: relative;
}

.communieat .screen-shot-12 {
  height: 649px;
  min-width: 316px;
  position: relative;
}

.communieat .screen-shot-13 {
  height: 649px;
  min-width: 318px;
  object-fit: cover;
  position: relative;
}

.communieat .frame-12 {
  background-color: #e5eef8;
  height: 1045px;
  left: 0;
  position: absolute;
  top: 2844px;
  width: 100%;
}

.communieat .overlap-group-8 {
  height: 975px;
  left: 22px;
  position: relative;
  top: 36px;
  width: 1237px;
}

.communieat .group-23 {
  height: 975px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1237px;
}

.communieat .annotated-team {
  height: 461px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 215px;
  width: 611px;
}

.communieat .annotated-team-2 {
  height: 460px;
  left: 644px;
  position: absolute;
  top: 0;
  width: 593px;
}

.communieat .annotated-team-3 {
  height: 478px;
  left: 647px;
  position: absolute;
  top: 497px;
  width: 590px;
}

.communieat .primary-secondary {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.communieat .frame-13 {
  background-color: #e5eef8;
  height: 645px;
  left: 0;
  position: absolute;
  top: 1574px;
  width: 100%;
}

.communieat .text-wrapper-110 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 91px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 31px;
  white-space: nowrap;
}

.communieat .text-wrapper-111 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 108px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 99px;
  width: 1079px;
}

.communieat .frame-14 {
  background-color: #c0d6ed;
  height: 910px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.communieat .group-24 {
  height: 649px;
  left: 236px;
  position: absolute;
  top: 130px;
  width: 808px;
}

.communieat .screen-shot-14 {
  height: 657px;
  left: -4px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 329px;
}

.communieat .screen-shot-15 {
  height: 657px;
  left: 483px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 329px;
}

.communieat .group-25 {
  height: 548px;
  left: 92px;
  position: absolute;
  top: 979px;
  width: 1108px;
}

.communieat .text-wrapper-112 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 228px;
  width: 496px;
}

.communieat .text-wrapper-113 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 40px;
  font-weight: 800;
  left: 211px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 677px;
}

.communieat .text-wrapper-114 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 178px;
}

.communieat .text-wrapper-115 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 704px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 178px;
}

.communieat .text-wrapper-116 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 704px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 228px;
  width: 392px;
}

.communieat .text-wrapper-117 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 739px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 497px;
}

.communieat .group-26 {
  height: 547px;
  left: 92px;
  position: absolute;
  top: 2251px;
  width: 1102px;
}

.communieat .text-wrapper-118 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.communieat .scenario-sample {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 74px;
  white-space: nowrap;
}

.communieat .jacob-is-a-years {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 17px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 127px;
  width: 1079px;
}

.communieat .group-27 {
  height: 486px;
  left: 68px;
  position: absolute;
  top: 3919px;
  width: 1146px;
}

.communieat .user-flow-page {
  height: 467px;
  left: 290px;
  position: absolute;
  top: 19px;
  width: 854px;
}

.communieat .text-wrapper-119 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.communieat .overlap-7 {
  height: 1164px;
  left: 41px;
  position: absolute;
  top: 4405px;
  width: 1212px;
}

.communieat .group-28 {
  height: 1080px;
  left: 73px;
  position: absolute;
  top: 0;
  width: 1139px;
}

.communieat .annotated-sketches {
  height: 536px;
  left: 493px;
  object-fit: cover;
  position: absolute;
  top: 544px;
  width: 644px;
}

.communieat .sketch-storyboards {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 745px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 325px;
  white-space: nowrap;
}

.communieat .annotated-sketches-2 {
  height: 523px;
  left: 0;
  position: absolute;
  top: 0;
  width: 671px;
}

.communieat .image-7 {
  height: 582px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 582px;
  width: 486px;
}
