.App {
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
}
  
.sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0; 
    width: 100px;
    height: 25%;
    padding: 1em;
    background-color: #f8f9fa;
    overflow: auto;
}
  
.sidebar button {
    font-family: "Lato", Helvetica;
    background-color: transparent;
    border: none;
    height: 30%;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;  
    text-align: left;
    color: #333;
    transition: color 0.3s ease;
    cursor: pointer;
}
  
.sidebar button.active {
    color: #007bff;
}

.research-page .sidebar {
    left: 0;
    background-color: transparent;
}