.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 428px;
    position: absolute;
    width: 1310px;
    overflow: hidden;
}

.carousel-contents {
    display: flex;
    
}

.carousel-item {
    flex-shrink: 0;
    width: 33.33%;
}


.vector-1, .vector-2 {
    height: 67px;
    left: 1245px;
    position: absolute;
    top: 181px;
    width: 67px;
}

.vector-1 {
    transform: translate(-50%, -50%) rotate(180deg);
}
