.resume-screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.resume-screen .resume-2 {
  background-color: #ffffff;
  border: 1px none;
  height: 1968px;
  position: relative;
  width: 1400px;
}

.resume-screen .frame-58 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 1745px;
  left: 107px;
  overflow: hidden;
  padding: 20px 5px 0px;
  position: absolute;
  top: 150px;
  width: 1198px;
}

.resume-screen .element-qq-com {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -11px;
  margin-right: -11px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 1210px;
}

.resume-screen .text-wrapper-68 {
  font-weight: 800;
}

.resume-screen .text-wrapper-69 {
  font-size: 32px;
  text-decoration: underline;
}

.resume-screen .text-wrapper-70 {
  font-size: 32px;
}

.resume-screen .text-wrapper-71 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -11px;
  margin-right: -11px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 1210px;
}

.resume-screen .element-GPA {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1165px;
}

.resume-screen .flex-container-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 778px;
  width: 1155px;
}

.resume-screen .text-18 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 1155px;
}

.resume-screen .text-wrapper-72 {
  font-weight: 600;
}

.resume-screen .span-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0;
}

.resume-screen .text-19 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1155px;
}

.resume-screen .text-wrapper-73 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 1155px;
}

.resume-screen .flex-container-16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 210px;
  width: 1155px;
}

.resume-screen .flex-container-17 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 208px;
  width: 1155px;
}

.resume-screen .button-default-instance {
  position: absolute !important;
}


.resume-screen .group-78 {
  position: fixed !important;
}
