.severity-wrapper {
  height: 40px;
  width: 76px;
}

.severity-wrapper .overlap-group-3 {
  background-color: #99e775;
  border: 1px solid;
  border-color: #316619;
  border-radius: 8px;
  height: 40px;
  left: 18px;
  position: relative;
  width: 40px;
}

.severity-wrapper .element-4 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 10px;
}
