.programming-original {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.programming-original .div-8 {
  background-color: #ffffff;
  border: 1px none;
  height: 4062px;
  position: relative;
  width: 1280px;
}

.programming-original .group-35 {
  height: 237px;
  left: 86px;
  position: absolute;
  top: 3716px;
  width: 1096px;
}

.programming-original .group-36 {
  height: 55px;
  left: 0;
  position: absolute;
  top: 0;
  width: 312px;
}

.programming-original .group-37 {
  height: 55px;
  left: 392px;
  position: absolute;
  top: 0;
  width: 312px;
}

.programming-original .group-38 {
  height: 55px;
  left: 784px;
  position: absolute;
  top: 0;
  width: 312px;
}

.programming-original .group-39 {
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 0;
  position: absolute;
  top: 91px;
  width: 314px;
}

.programming-original .overlap-group-6 {
  background-color: #c9dcf0;
  height: 55px;
  position: relative;
  width: 312px;
}

.programming-original .text-wrapper-117 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
}

.programming-original .group-40 {
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 0;
  position: absolute;
  top: 182px;
  width: 314px;
}

.programming-original .overlap-16 {
  background-color: #c9dcf0;
  height: 55px;
  position: relative;
  width: 312px;
}

.programming-original .text-wrapper-118 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 304px;
}

.programming-original .group-41 {
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 392px;
  position: absolute;
  top: 182px;
  width: 314px;
}

.programming-original .overlap-17 {
  background-color: #c9dcf0;
  height: 55px;
  position: relative;
  width: 312px;
}

.programming-original .text-wrapper-119 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
}

.programming-original .group-42 {
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 784px;
  position: absolute;
  top: 182px;
  width: 314px;
}

.programming-original .overlap-18 {
  background-color: #c9dcf0;
  height: 55px;
  position: relative;
  width: 312px;
}

.programming-original .text-wrapper-120 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 304px;
}

.programming-original .group-43 {
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 392px;
  position: absolute;
  top: 91px;
  width: 312px;
}

.programming-original .group-44 {
  height: 55px;
  width: 314px;
}

.programming-original .overlap-group-7 {
  background-color: #c9dcf0;
  height: 55px;
  position: relative;
  width: 312px;
}

.programming-original .text-wrapper-121 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 262px;
}

.programming-original .group-45 {
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 784px;
  position: absolute;
  top: 91px;
  width: 312px;
}

.programming-original .group-46 {
  height: 55px;
  width: 314px;
}

.programming-original .overlap-group-8 {
  background-color: #c9dcf0;
  height: 55px;
  position: relative;
  width: 312px;
}

.programming-original .text-wrapper-122 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 302px;
}

.programming-original .relevant-selected {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 398px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3618px;
  white-space: nowrap;
}

.programming-original .group-47 {
  height: 575px;
  left: 120px;
  position: absolute;
  top: 2880px;
  width: 1041px;
}

.programming-original .frame-16 {
  height: 575px;
  left: 0;
  position: absolute;
  top: 0;
  width: 498px;
}

.programming-original .overlap-19 {
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 420px;
  width: 498px;
}

.programming-original .rectangle-10 {
  background-color: #d9d9d9;
  height: 50px;
  left: 406px;
  position: absolute;
  top: 0;
  width: 92px;
}

.programming-original .overlap-20 {
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 525px;
  width: 498px;
}

.programming-original .rectangle-11 {
  background-color: #d9d9d9;
  height: 50px;
  left: 406px;
  position: absolute;
  top: 0;
  width: 92px;
}

.programming-original .frame-17 {
  height: 575px;
  left: 543px;
  position: absolute;
  top: 0;
  width: 498px;
}

.programming-original .overlap-21 {
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 210px;
  width: 498px;
}

.programming-original .rectangle-12 {
  background-color: #d9d9d9;
  height: 50px;
  left: 344px;
  position: absolute;
  top: 0;
  width: 154px;
}

.programming-original .overlap-22 {
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 420px;
  width: 498px;
}

.programming-original .rectangle-13 {
  background-color: #d9d9d9;
  height: 50px;
  left: 344px;
  position: absolute;
  top: 0;
  width: 154px;
}

.programming-original .overlap-23 {
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 525px;
  width: 498px;
}

.programming-original .rectangle-14 {
  background-color: #d9d9d9;
  height: 50px;
  left: 344px;
  position: absolute;
  top: 0;
  width: 154px;
}

.programming-original .skills {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 568px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2798px;
  white-space: nowrap;
}

.programming-original .line-5 {
  height: 1px;
  left: 79px;
  position: absolute;
  top: 2769px;
  width: 1112px;
}

.programming-original .git-respository-to {
  color: transparent;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 76px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2530px;
  white-space: nowrap;
}

.programming-original .text-wrapper-123 {
  color: #000000;
  font-weight: 600;
}

.programming-original .text-wrapper-124 {
  color: #0073c2;
  text-decoration: underline;
}

.programming-original .text-wrapper-125 {
  color: #0073c2;
  text-decoration: underline;
}

.programming-original .text-wrapper-126 {
  color: #0073c2;
  text-decoration: underline;
}

.programming-original .flex-container-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 320px;
  left: 99px;
  position: absolute;
  top: 2185px;
  width: 1072px;
}

.programming-original .text-59 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 1072px;
}

.programming-original .text-wrapper-127 {
  font-weight: 600;
}

.programming-original .text-60 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 1072px;
}

.programming-original .text-wrapper-128 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.programming-original .text-61 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1072px;
}

.programming-original .text-wrapper-129 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.programming-original .text-62 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1072px;
}

.programming-original .text-wrapper-130 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.programming-original .text-63 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1072px;
}

.programming-original .text-wrapper-131 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.programming-original .line-6 {
  height: 1px;
  left: 68px;
  position: absolute;
  top: 2199px;
  width: 1112px;
}

.programming-original .image-6 {
  height: 473px;
  left: 142px;
  object-fit: cover;
  position: absolute;
  top: 1510px;
  width: 985px;
}

.programming-original .line-7 {
  height: 1px;
  left: 84px;
  position: absolute;
  top: 3529px;
  width: 1112px;
}

.programming-original .line-8 {
  height: 1px;
  left: 79px;
  position: absolute;
  top: 1450px;
  width: 1112px;
}

.programming-original .group-48 {
  height: 645px;
  left: 92px;
  position: absolute;
  top: 620px;
  width: 1090px;
}

.programming-original .screen-shot-14 {
  height: 143px;
  left: 0;
  position: absolute;
  top: 52px;
  width: 1086px;
}

.programming-original .search-engine {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 381px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 0;
}

.programming-original .search-result-with {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 337px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 200px;
}

.programming-original .image-7 {
  height: 378px;
  left: 34px;
  position: absolute;
  top: 267px;
  width: 1019px;
}

.programming-original .text-wrapper-132 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  left: 76px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 575px;;
  white-space: nowrap;
}

.programming-original .flex-container-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 301px;
  left: 76px;
  position: absolute;
  top: 230px;
  width: 1119px;
}

.programming-original .text-64 {
  color: transparent;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 1119px;
}

.programming-original .text-wrapper-133 {
  color: #000000;
  font-weight: 600;
}

.programming-original .text-65 {
  color: transparent;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 1119px;
}

.programming-original .text-wrapper-134 {
  color: #000000;
}

.programming-original .text-66 {
  color: transparent;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1119px;
}

.programming-original .text-wrapper-135 {
  color: #000000;
}

.programming-original .text-67 {
  color: transparent;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1119px;
}

.programming-original .text-wrapper-136 {
  color: #000000;
}

.programming-original .text-68 {
  color: transparent;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1119px;
}

.programming-original .text-wrapper-137 {
  color: #000000;
}

.programming-original .text-69 {
  color: transparent;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1119px;
}

.programming-original .text-wrapper-138 {
  color: #000000;
  font-weight: 600;
}

.programming-original .text-wrapper-139 {
  color: #2a64ac;
}

.programming-original .text-wrapper-140 {
  color: #0073c2;
  text-decoration: underline;
}

.programming-original .projects-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 559px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 140px;
  white-space: nowrap;
}

.programming-original .projects-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1410px;
  white-space: nowrap;
}

.programming-original .component-2 {
  height: 105px;
  left: 58px;
  position: absolute;
  top: 115px;
  width: 1164px;
}

.programming-original .contents-3 {
  height: 41px;
  left: 36px;
  position: absolute;
  top: 1px;
  width: 34px;
}

.programming-original .frame-18 {
  align-items: flex-start;
  display: flex;
  gap: 50px;
  left: 137px;
  position: absolute;
  top: 1px;
  width: fit-content;
}

.programming-original .group-49 {
  height: 40px;
  min-width: 311px;
  position: relative;
}

.programming-original .project-search-wrapper {
  background-color: #c9dcf099;
  border-radius: 2px;
  height: 40px;
  position: relative;
  width: 309px;
}

.programming-original .project-search {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}

.programming-original .group-50 {
  height: 40px;
  min-width: 311px;
  position: relative;
}

.programming-original .project-wrapper {
  background-color: #c9dcf099;
  border-radius: 2px;
  height: 40px;
  position: relative;
  width: 309px;
}

.programming-original .project {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}

.programming-original .group-51 {
  height: 40px;
  margin-right: -2px;
  min-width: 311px;
  position: relative;
}

.programming-original .overlap-24 {
  background-color: #c9dcf099;
  border-radius: 2px;
  height: 40px;
  position: relative;
  width: 309px;
}

.programming-original .text-wrapper-141 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}

.programming-original .frame-19 {
  align-items: flex-start;
  display: flex;
  gap: 50px;
  left: 137px;
  position: absolute;
  top: 62px;
  width: fit-content;
}

.programming-original .group-52 {
  height: 40px;
  min-width: 311px;
  position: relative;
}

.programming-original .project-instagram-wrapper {
  background-color: #c9dcf099;
  border-radius: 2px;
  height: 40px;
  position: relative;
  width: 309px;
}

.programming-original .project-instagram {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}

.programming-original .group-53 {
  height: 40px;
  min-width: 311px;
  position: relative;
}

.programming-original .relevant-skills-wrapper {
  background-color: #c9dcf099;
  border-radius: 2px;
  height: 40px;
  position: relative;
  width: 309px;
}

.programming-original .relevant-skills {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 79px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}

.programming-original .group-54 {
  height: 40px;
  margin-right: -2px;
  min-width: 311px;
  position: relative;
}

.programming-original .relevant-selected-wrapper {
  background-color: #c9dcf099;
  border-radius: 2px;
  height: 40px;
  position: relative;
  width: 309px;
}

.programming-original .relevant-selected-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}

.programming-original .table-of-contents-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 45px;
  width: 91px;
}
