.group-19 {
  border-radius: 10px;
  height: 50px;
  width: 561px;
}

.group-19 .overlap {
  height: 50px;
  position: relative;
}

.group-19 .overlap-group-wrapper {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 128px;
}

.group-19 .c-wrapper {
  background-color: #a1cae6;
  height: 50px;
  position: relative;
  width: 126px;
}

.group-19 .c {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 500;
  height: 29px;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
}

.group-19 .rectangle-3 {
  background-color: #0073c2;
  border-radius: 7px;
  height: 50px;
  left: 126px;
  position: absolute;
  top: 0;
  width: 435px;
}
